@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

/* BODY */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
    background-color:indianred;
}

/* HEADER */

.header {
	background-color: rgb(37, 37, 37);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: auto; 
    height: 60px;
    font-family: sans-serif;
}
.header p {
    font-size: 40px;
    font-weight: 700;
    color: white;
    height: 100%;
    line-height: 60px;
}
.header p:hover{
    cursor: pointer;
}

/* MAIN */

.main{
    width: 100%;
    height: 100%;
    padding-top: 40px;
}

.jogo{
    width: 660px;
    height: 600px;
    margin: auto;
    position: relative;
}
/* START */

.telainicial{
    display: block;
    margin: auto;
    width: 660px;
    height: 500px;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
}
.fotopedra {
    margin-top: 25px;
    width: 350px;
    height: auto;
}
.textorocha {
    margin-top: 30px;
    font-weight: 600;
    color: white;
    font-size: 60px;
    width: auto;
    height: fit-content;
    font-family: 'Gochi Hand';
}
.botaojogar {
    display: inline-block;
    margin-top: 60px;
    width: 230px;
    height: 60px;
    background-color: rgb(37, 37, 37);
    cursor:pointer;
    border-radius: 10px;
}
.botaojogar p{
    color: white;
    font-size:25px;
    line-height: 60px;
    font-family: 'Fredoka One';
}
.botaojogar:hover {
    background-color: rgb(59, 59, 59);
}


/* JOGO */
.telastart{
    display: none;
    margin: auto;
    width: 660px;
    height: 500px;
    justify-content: center;
    padding-top: 30px;
    font-family: sans-serif;
}
.opcao{
    width: 650px;
    height: 30px;
    color: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(0,0,0,0) 9%, rgba(0,0,0,0.78) 40%, rgba(0,0,0,0.7795698924731183) 60%, rgba(0,0,0,0) 91%);
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    line-height: 32px;
    font-family: 'Gochi Hand';
}
.opcao.opB{
    margin-top: 70px
}
.escolha {
    text-align: center;
    cursor:pointer;
    width: 650px;
    height: 100px;
    color: white;
    border: 3px solid rgb(0, 0, 0) ;
    background-color: rgba(0, 0, 0, 0.705);
    font-size:20px;
    font-weight: 500;
    line-height: 100px;
    border-radius: 25px;
    margin-top: 5px;
}

.escolha:hover {
    background-color: rgba(61, 61, 61, 0.795);
}

.botaorecomecar {
    text-align: center;
    cursor:pointer;
    margin:auto;
    margin-top: 70px;
    width: 200px;
    height: 40px;
    color: white;
    background-color: rgb(37, 37, 37);
    font-size:15px;
    line-height: 40px;
    font-family: 'Fredoka One';
    border-radius: 10px;
}

.botaorecomecar:hover {
    background-color: rgb(59, 59, 59);
}


/*ROCHAS*/
.rocha{
    display: block;
    margin: auto;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 660px;
    height: 600px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.479);
    box-shadow: 0px 0px 8px 3px rgba(0, 0, 0, 0.479);
}
.atuarocha {
    line-height: 100px;
    font-weight: 500;
    height: 100px;
    color: white;
    font-size: 60px;
    letter-spacing: 5px;
    font-family: 'Gochi Hand';
}
.fotorochafin {
    width: 400px;
    height: 300px;
    border-radius: 50px;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,1);
}
.nomerocha {
    height: fit-content;
    margin-top: 25px;
    margin-bottom: 20px;
    font-weight: 100;
    color: white;
    font-size: 35px;
    font-family: 'Fredoka One';
}



/* HISTORICO */
.historico {
    background-color: rgba(0, 0, 0, 0.479);
    width: 955px;
    height: 150px;
    margin-top: 70px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.historicodisplay {
    width: 955px;
    display: flex;
    flex-wrap: wrap;
    max-height: 100%;
    gap: 15px;
    padding-left: 15px;
    padding-top: 15px;
    overflow-y: auto;
}
.historicoheader{
    position: absolute;
    top: -37px;
    left: 10px;
    font-family: 'Gochi Hand';
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
}
.guardarhisttexto{
    font-family: 'Gochi Hand';
    color: white;
    font-size: 20px;
}
.guardarhistdiv{
    position:absolute;
    text-align: center;
    width: 180px;
    height: 27px;
    line-height: 27px;
    top: -29px;
    right: 5px;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 10px;
    border: 2px solid black;
    cursor: pointer;
}
.guardarhistdiv:hover{
    background-color: rgb(59, 59, 59);
}
.rochahist {
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 100px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.479);
    padding-top: 10px;
}
.fotorochahist {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 0px 0px 30px -3px rgba(0,0,0,1);
}
.nomerochahist {
    color: white;
    font-size: 15px;
    font-family: 'Fredoka One';
}

/* PERCURSO */
.percursocontainer{
    display: none;
    position: absolute;
    left: 725px;
    top: 10px;
    width: 500px;
    height: 500px;
}
.percursotexto{
    text-align: center;
    font-family: 'Gochi Hand';
    color: white;
    font-size: 40px;
    letter-spacing: 2px;
}
.barrapercurso{
    width: 480px;
    height: 3px;
    border-radius: 3px;
    background-color: rgb(37, 37, 37);
    margin: auto;
    margin-bottom: 5px;
}
.percurso_rocha{
    text-align: center;
    color: white;
    width: 150px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0.479);
    font-size: 20px;
    font-family: 'Fredoka One';
    letter-spacing: 1px;
    line-height: 30px;
    border-radius: 10px;
    margin: auto;
}
.percurso_int{
    text-align: center;
    color: white;
    width: 480px;
    height: 40px;
    background-color: rgba(0, 0, 0, 0.479);
    font-size: 15px;
    font-family: sans-serif;
    line-height: 40px;
    border-radius: 10px;
    font-weight: 600;
    margin: auto;
}
.percurso_seta{
    width: 30px;
    height: 40px;
    margin: auto;
}
.fotoseta{
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

@media only screen and (max-device-width: 1919px) {

    .jogo{
        width: 660px;
        height: 600px;
        height: auto;
        position: relative;
    }
    .percursocontainer{
        position: static;
        margin-top: 30px;
        margin-right: auto;
        margin-left: auto;
        height: auto;
    }
    .historico {
        margin-top: 100px;
    }
}
